.portfolio {
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-caption {
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.portfolio-text {
  font-weight: 400;
}
